html, body {
    height: 100%;
}

body {
    font-family: Arial;
    margin: 0;
}

#content {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#header {
    text-align: center;
    background: #78b6a9;
    padding: 1rem;
}

#map {
    background-color: antiquewhite;
}

#scripture_viewer {
    background-color: #d3d2d2;
    padding: 1rem;
    overflow-y: scroll;
}

#scripnav {
    background-color: #d3d2d2;
    padding: 1rem;
}

#subtitle {}

#text {
    overflow-y: scroll;
    max-height: 40rem;
}

#title {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.books {}

.test-flex {
    flex: 3;
}

.btn {
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: center;
    max-width: 6rem;
}

.btn-link {
    text-decoration: none;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-25 {
    flex: 25%;
}

.shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.labels {
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #00000057;
    padding: 3px;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel-for-accordian {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* BREAD CRUMB */

/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}