html, body {
    height: 100%;
}

body {
    font-family: Arial;
    margin: 0;
}

#content {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#header {
    text-align: center;
    background: #78b6a9;
    padding: 1rem;
}

#map {
    background-color: antiquewhite;
}

#scripture_viewer{
    background-color: #d3d2d2;
    padding: 1rem;
    overflow-y: scroll;
}

#scripnav {
    background-color: #d3d2d2;
    padding: 1rem;
}

#subtitle {}

#text {
    overflow-y: scroll;
    max-height: 40rem;
}

#title {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.books {
    
}

.test-flex {
    flex: 3;
}

.btn {
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: center;
    max-width: 6rem;
}

.btn-link {
    text-decoration: none;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-25 {
    flex: 25%;
}

.shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.labels{
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #00000057;
    padding: 3px;
}